body {
	color: black;
	background-color: white;
}

h1,h2 {
	margin: 0;
}

.chapterHeader {
	margin-top: 50px;
	margin-bottom: 15px;
	text-align: center;
}

.separator {
	margin: 0;
	text-align: center;
}

.endSeparator,
.epilog {
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
}

.subtitle {
	font-weight: normal;
	font-style: italic;
}

.preface {
	margin-top: 50px;
	margin-bottom: 15px;
}